* {
  box-sizing: border-box; }

html {
  background: #e94822 none no-repeat center center; }

h1, h2 {
  font-family: "Flamenco", cursive, sans-serif;
  color: white; }

body {
  font-family: "Asap", sans-serif;
  color: #2c2d34; }

input {
  padding: 1em;
  min-width: 11em;
  font-weight: bold;
  border: 0px; }

button {
  padding: 0.5em;
  border: 1px solid white;
  background: #2c2d34;
  color: white; }
  button:hover {
    background: #efd510; }

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%; }

.title, .heading, .subheading {
  padding: 1em;
  text-align: center; }
  .title *, .heading *, .subheading * {
    margin: 0px; }

.title {
  background: #efd510 none no-repeat center center; }

.heading, .subheading {
  background: #2c2d34 none no-repeat center center; }

.goal_wizard {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 14em;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .goal_wizard form {
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .goal_wizard button {
    background: none;
    border: 0px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.goal_line, .goal_detail_line {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.goal_full_line {
  border: 2px solid white;
  margin: 2px 0px;
  padding: 0 1em;
  border-radius: 1.5px; }

.task_line {
  border: 1px solid;
  padding: 0.5em;
  margin: 2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .task_line .task_name, .task_line .task_due, .task_line .task_recur {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .task_line .task_description {
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6; }

.goal_item, .goal_target_date, .goal_description, .goal_options {
  padding: 1em 0px; }

.goal_item {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
  min-width: 16em; }

.goal_target_date {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  text-align: right; }

.goal_description {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8;
  font-size: 0.8em;
  color: white;
  min-width: 16em; }

.goal_options {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.task_wizard {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.task_wizard h2 {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%; }

.task_wizard form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .task_wizard form input, .task_wizard form button, .task_wizard form select {
    -webkit-flex: 1 0 48%;
    -ms-flex: 1 0 48%;
    flex: 1 0 48%;
    margin: 2px; }
  .task_wizard form button {
    margin-bottom: 4px; }
  .task_wizard form .week_days {
    -webkit-flex: 1 0 48%;
    -ms-flex: 1 0 48%;
    flex: 1 0 48%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .task_wizard form .week_days label {
      -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
      flex: 1 1 0%;
      border: 1px solid white;
      padding: 0.5em;
      margin: 1px;
      color: white; }
    .task_wizard form .week_days .day_selected {
      background-color: white;
      color: #e94822; }
    .task_wizard form .week_days input[type="checkbox"] {
      display: none; }
  .task_wizard form .month_options {
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .task_wizard form .month_options label {
      -webkit-flex: 1 0 28%;
      -ms-flex: 1 0 28%;
      flex: 1 0 28%; }
    .task_wizard form .month_options select {
      -webkit-flex: 1 0 28%;
      -ms-flex: 1 0 28%;
      flex: 1 0 28%;
      padding: 0.5em; }
    .task_wizard form .month_options input {
      -webkit-flex: 1 0 61%;
      -ms-flex: 1 0 61%;
      flex: 1 0 61%; }
    .task_wizard form .month_options input[type=radio] {
      min-width: 0; }

.burger_menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .burger_menu .title_menu_item {
    display: none; }
  .burger_menu a {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    margin: 2px 1px;
    width: 145px; }

.title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .title button {
    background-color: transparent;
    border: 0; }
  .title h1 {
    margin-right: auto; }
  .title i {
    font-size: 4em; }

.ui-datepicker {
  width: 320px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }
  .ui-datepicker a {
    text-decoration: none; }
  .ui-datepicker table {
    width: 100%;
    background-color: white;
    text-align: center; }
  .ui-datepicker table a {
    color: #2c2d34; }
  .ui-datepicker thead {
    background-color: #efd510;
    color: white; }
  .ui-datepicker th {
    text-transform: uppercase;
    padding: 5px 0; }
  .ui-datepicker td:hover {
    background: #eeeef1; }
  .ui-datepicker .ui-datepicker-current-day {
    background: #2c2d34; }
    .ui-datepicker .ui-datepicker-current-day .ui-state-active {
      color: white; }
  .ui-datepicker .ui-datepicker-today {
    background: #9b9daa; }
  .ui-datepicker .ui-datepicker-header {
    background-color: #2c2d34;
    color: white;
    padding: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: pointer; }

#grades_form {
  padding: 2em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  #grades_form .grade_event {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
    #grades_form .grade_event label {
      -webkit-flex: 18;
      -ms-flex: 18;
      flex: 18; }
    #grades_form .grade_event input {
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
  #grades_form input[type="submit"] {
    margin-left: auto;
    margin-top: 1em;
    background-color: #2c2d34;
    border: 1px solid white;
    color: white; }
    #grades_form input[type="submit"]:hover {
      background-color: #efd510; }

#grades_heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #grades_heading a {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=app.css.map */
