// Cool stuff
// http://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048
// http://tutorialzine.com/2013/10/12-awesome-css3-features-you-can-finally-use/
// http://blog.froont.com/9-basic-principles-of-responsive-web-design/
// http://www.hongkiat.com/blog/css-snippets-for-designers/
// https://techblog.livingsocial.com/blog/2015/04/06/responsive-tables-in-pure-css/
// http://www.thomashardy.me.uk/a-collection-of-css3-hover-effects
// https://css-tricks.com/examples/hrs/
// SEAMLESS DELETE BUTTON http://codepen.io/hakimel/details/ZYRgwB
// HEX Menu http://codepen.io/xgundam05/pen/ftcaL
// Navs http://navnav.co/
// https://github.com/martinwolf/CSS-Styleguide
// Icons http://saeedalipoor.github.io/icono/
// Progress bar with JS http://thecodeplayer.com/walkthrough/jquery-multi-step-form-with-progress-bar
// Progress bar pure CSS http://www.cssscript.com/demo/responsive-step-progress-indicator-with-pure-css/
// Progress bar pure CSS http://technical.nailfashionsweden.se/web-components-that-can-be-built-purely-using-css-no-javascript/
// Minimal responsive grid system - http://jordanlev.github.io/grid/

$font-header-stack:'Flamenco', cursive, sans-serif;
$font-body-stack:'Asap', sans-serif;
$color1: #2c2d34; // black
$color2: #e94822; // red bg
$color3: #f2910a; // orange
$color4: #efd510; // yellow title


// Tell the browser to treat padding and border widths as part of the overall element width (so we can sanely use percentages for element widths)
* { box-sizing: border-box; }

html{
     background: $color2 none no-repeat center center;
}

// tags
h1, h2{
    font-family: $font-header-stack;
    color: white;
}

body{
    font-family: $font-body-stack;
    color: $color1;
}

input{
    padding: 1em;
    min-width: 11em;
    font-weight: bold;
    border: 0px;
}

button{
    padding: 0.5em;
    border: 1px solid white;
    background: $color1;
    color: white;
    &:hover{
        background: $color4;
    }
}

// classes
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}


.title, .heading, .subheading{
    padding: 1em;
    text-align: center;
    *{
        margin: 0px;
    }
}

.title{
    background: $color4 none no-repeat center center;
}

.heading, .subheading{
    background: $color1 none no-repeat center center;
}

.goal_wizard{
    display: flex;
    height: 14em;
    align-items: center;
    justify-content: center;
    form{
        margin: auto;  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    button{
        background: none;
        border: 0px;
        flex: 1;
    }
}

.goal_line, .goal_detail_line{
    display: flex;
    flex-wrap: wrap;
}

.goal_full_line{
    border: 2px solid white;
    margin: 2px 0px;
    padding: 0 1em;
    border-radius: 1.5px;
}

.task_line{
    border: 1px solid;
    padding: 0.5em;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    .task_name, .task_due, .task_recur{
        flex: 2;
    }
    .task_description{
        flex: 6;
    }
}

.goal_item, .goal_target_date, .goal_description, .goal_options{
    padding: 1em 0px;
}

.goal_item{
    flex: 8;
    min-width: 16em;
}

.goal_target_date{
    flex: 2;
    text-align: right;
}

.goal_description{
    flex: 8;
    font-size: 0.8em;
    color: white;
    min-width: 16em;
}

.goal_options{
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.task_wizard{
    display: flex;
    flex-wrap: wrap;
}

// .task_wizard form{
//     flex: 1 0 50%;
// }

// 
.task_wizard h2{
    flex: 0 1 100%;
}

.task_wizard form{
    display:flex;
    flex-wrap: wrap;
    input, button, select{
        flex: 1 0 48%;
        margin: 2px;        
    }
    button{
        margin-bottom: 4px;
    }
    .week_days{
        flex: 1 0 48%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        
        label{
            flex: 1 1 0%;
            border: 1px solid white;
            padding: 0.5em;
            margin: 1px;
            color: white;
        }
        
        .day_selected{
            background-color: white;
            color: $color2;
        }
        
        input[type="checkbox"]{
            display: none;
        }
    }
    
    .month_options{
        flex: 1 0 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        label{
            flex: 1 0 28%;
        }
        select{
            flex: 1 0 28%;
            padding: 0.5em;
        }
        input {
            flex: 1 0 61%;
        }
        input[type=radio]{
            min-width: 0;;
        }
    }
}

// Burger menu
.burger_menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title_menu_item{
        display: none;
    }
    
    a{
        text-decoration: none;
        color: white;
        border: 3px solid white;
        padding: 1em;
        font-size: 1em;
        font-weight: bold;
        margin: 2px 1px;
        width: 145px;
    }
  
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    button{
      background-color: transparent;
      border: 0;
//     transition: all 400ms ease;
    // &.expanded{
    //   transform: rotate(90deg);
    }
    
    h1{
        margin-right: auto;
    }
    
    i{
      font-size: 4em;
    }
}

// ids


// Third party
// https://jqueryui.com/datepicker/#default
//jquery ui styling the datepicker - http://rtsinani.github.io/jquery-datepicker-skins/ http://www.hongkiat.com/blog/jquery-ui-datepicker/

.ui-datepicker {
    width: 320px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    a {
        text-decoration: none;
    }
    table {
        width: 100%;
        background-color: white;
        text-align: center;
    }
    table a {
        color: $color1;
    }
    thead {
        background-color: $color4;
        color: white;
    }
    th {
        text-transform: uppercase;
        padding: 5px 0;
    }
    td:hover {
        background: lighten($color1, 75%);
    }
    .ui-datepicker-current-day {
        background: $color1;
        .ui-state-active {
            color: white;
        }
    }
    .ui-datepicker-today{
        background: lighten($color1, 45%);
    }
    
    .ui-datepicker-header {
        background-color: $color1;
        color: white;
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
        cursor: pointer;
    }

}


// grades form
#grades_form{
    padding: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .grade_event{
        display: flex;
        margin: 2px;
        align-items: center;
        flex: 1 0 100%;
        label{
            flex: 18;
        }
        input{
            flex: 2;
        }
    }
    input[type="submit"]{
        margin-left: auto;
        margin-top: 1em;
        // black back, white border, white content hover yellow back
        background-color: $color1;
        border: 1px solid white;
        color: white;
        &:hover{
            background-color: $color4;
        }
        
    }
}

#grades_heading{
    display:flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        color:white;
    }
}